@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

// palette

$violet:  hsl(263, 55%, 52%);
$grey-blue: hsl(217, 19%, 35%);
$dark-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$neutral-gray: hsl(0, 0%, 81%);
$neutral-blue: hsl(210, 46%, 95%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: $neutral-blue; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

%generic-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 13px;
    }
}

%cards-childs {
    small {
        opacity: 50%;
    }
    .large-quote {
        opacity: 70%;
    }
}

.card {
    @extend %generic-card;
    .card-header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}

.card-1 {
    position: relative;
    grid-area: one;    
    color: $white;
    background-color: $violet;
    @extend %cards-childs;
    img {
        border: solid 2px $neutral-gray;
    }
    .fa-quote-left {
        position: absolute;
        top: 0px;
        right: 50px;
        font-size: 100px;
        opacity: 50%;
    }
    .main-quote {
        color: $white;
    }
}

.card-2 {
    grid-area: two;
    background-color: $grey-blue;
    color: $white;
    @extend %cards-childs;
}

.card-3 {
    grid-area: three;
    background-color: $white;
    color: $grey-blue;
    @extend %cards-childs;
}

.card-4 {
    grid-area: four;
    background-color: $dark-blue;
    color: $neutral-gray;
    @extend %cards-childs;
    img {
        border: solid 2px $violet;
    }
    .main-quote {
        color: $white;
    }
}

.card-5 {
    grid-area: five;
    background-color: $white;
    color: $grey-blue;
    @extend %cards-childs;
}

.main-quote {
    font-weight: 600;
    font-size: 18px !important;
    margin: 10px 0px;
}

.container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    grid-template-areas: 
        "one one two five"
        "three four four five";
    gap: 20px;
}

.attribution {
    margin: 30px 0px 10px 0px;
}

@media(max-width: 800px) {
    .container {
        padding: 40px 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 5;
        grid-template-areas: 
            "one"
            "two"
            "three"
            "four"
            "five";
    }
}